@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid #000 ;  
}
img{
    width: 100%;
    display: block;
}
body{
    position: relative;
    width: 100%;
    margin: auto;
    font-family:"Noto Sans TC",Arial, Helvetica,"Heiti TC","微軟正黑","Microsoft JhengHei", sans-serif;
    font-weight: 700; 
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255); 
}
::-webkit-scrollbar-thumb {
    background: rgba(179, 179, 179, 0.8); 
}
::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9c2; 
}
a,p,h1,h2,h3{
    text-decoration: none; 
    white-space: nowrap;  /* 強制單行不要換行 */
}
p{
    color: #426791; 
}
.about_cert h2,.pro_name h1,#contact h1,.footer_title{
    color: #3a84c9;
    
}
header,#product,footer{
    background-color:#ffffff;
}
/* -------------------------頁首區--------------------- */
header{
    opacity: 0;
    background-color: #ffffffe5;
    box-shadow: 0px 0px 6px #a7a7a7;
    position: fixed;/* 加了才浮在上面 */
    top: 0;
    width: 100%;
    display: flex; 
    /* position: relative; */
    align-items: center;
    height: 9vh; 
    z-index: 999;
}
header h1{ 
    margin-left: 30px;
    margin-right: 20px;
    width: 280px;   
}
header h2{
    margin-right: 30px;
    width: 200px; 
}
header h3{
    width: 70px;
    margin-right: 12px;
}
header h4{
    width: 70px;
    margin-right: 10px;
}
header nav{
    width: 90%;
}
header nav ul{
    list-style-type: none;
    display: flex; 
    justify-content: flex-end;
    margin-right: 10px;
}
header nav li{
    width: 100px;
}
header nav a{
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: dimgrey;
}
header nav a:hover{
    color: #053486c2;
    padding-bottom: 10px;
    border-bottom: 4px solid #053486c2 ;
}
/* -------------------------head_news區--------------------- */
.head_news{
    background-image: url("./images/head_bg1.png");
    background-color: #063983;  
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh ;
    position: relative;
    overflow-x: hidden;
}
.head_slogn{
    margin-top: 240px; 
}
.slogn1{
    font-size: 3.5rem;
    margin-bottom: 45px;
    font-weight: 500;
    color:#e6effcda;
    letter-spacing: 0.5rem;
    text-shadow: 5px 2px 3px #1d1d1d;
    animation: slogn1 2s ;
    
}
@keyframes slogn1{
    from{opacity: 0.1;}
    to{opacity: 1;}
}
.slogn2{
   font-size: 2.5rem;
   font-weight: 500;
   color:#e6effcda;
   letter-spacing: 0.5rem;
   text-shadow: 4px 2px 3px #1d1d1d;
   animation: slogn2 1s 1s backwards;
  
}
@keyframes slogn2{
    from{opacity: 0;}
    to{opacity: 1;}
}
.news1{
    display: flex;
    justify-content: flex-end;
    align-items:center; 
    width: 45%;
    background-color: rgba(21, 27, 51, 0.505);
    height: 30vh;  /* 支撐影片高度 */
    position: absolute;  
    bottom: 40px; 
    left: 0;
    animation: news1 2s 1s backwards;
    border-radius: 0px 25px 25px 0px;
    overflow: hidden;
}
@keyframes news1{
    from{left: -250%;}
    to{ left: 0;}
}
.news2{
    display: flex;
    justify-content: flex-start;
    align-items:center; 

    width: 45%;
    background-color: rgba(21, 27, 51, 0.505);
    height: 30vh;  /* 支撐影片高度 */
    position: absolute;  
    bottom: 40px; 
    right: 0;
    animation: news2 2s 1s backwards;
    border-radius: 25px 0px 0px 25px;
    overflow: hidden;
}
@keyframes news2{
    from{right: -250%;}
    to{right: 0;}
}
.video1{
    height: 100%;  
    object-fit: contain;  
    overflow: hidden;
}
.video2{
    height: 100%;
    object-fit: contain;  
    overflow: hidden;
}
/* -------------------------head_news區--------------------- */
/* -------------------------about us區-------------------  */
#about{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(./images/office.jpg); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    
}
.iso27001{
    width: 200px;
}
.duns{
    width: 300px;
}
.aboutux{ /* 關於往優整個區塊 */
    display: none;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100vh;
    
    background-color: rgba(196, 202, 214, 0.52); 
}

.aboutux div{
    margin: 0 14% 0 10%;  /* 高度改了與上邊距離 */
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: rgb(26,51,100,0.98);
    box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.799);
    
    border-radius:0 0 35px 35px;
    /* box-shadow: 1px 1px 8px #313131; */
    height: 92vh;   /* 白背景長度 */
    /* width: 39%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.aboutux a{
    display: block;
    width: 5.5rem; 
    padding: 0px 2px;
    border: 1px solid #96b3d4 ;
    border-radius: 5px;
    font-size: 1rem;
    margin:20px 0px 20px 70%; /* 讓a整個置中  auto左右置中 */
    text-align: center; /* 文字more置中 */
    text-decoration: none;
    color: #96b3d4;  
}
.aboutux a:hover{
    color: #ffffff;
    border: 1px solid #ffffff ;
    
}

.aboutux h1{ /* 標題 */
    text-shadow: 3px 2px 2px rgba(34, 35, 51, 0.699);
    border-bottom:5px solid rgb(181, 203, 231);
    padding-bottom: 15px;
    margin: 100px 80px 25px 70px;
    width: 300px;
    letter-spacing: 0.3rem;
    font-size: 2.2rem;
    
    color: #cfcfcf;
    /* color:#203864; */
}
.aboutux p{
    color: #dddddd;
    margin: 0 40px 100px 70px;
    font-size: 1.2rem;
    line-height: 2.2rem;
    /* color:#464646; */
    overflow: auto;
    font-weight: 500;
   /*  border:1px solid #000; */
}

.about_cert{
    /* background-color: rgba(216, 216, 216, 0.486); */
    background-color: rgb(201,225,255,0.8);
    box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.699);
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-radius:0 35px 35px 0px ;
    position: absolute;
    left: 0%;
    bottom: 14%;
    height: 45vh;   
}
.about_cert div{ /* 證照排版區 */
    align-items: flex-end;
    display: flex;
    height: 30vh; /* 證照框高度 */
    margin-right: 30px;
}
.more{
    display: block;
    width: 5.5rem; 
    padding: 2px 2px 5px;
    border: 1px solid rgba(97, 123, 175, 0.808) ;
    border-radius: 5px;
    font-size: 1rem;
    margin:20px 5px 5px 20px; 
    text-align: center; /* 文字more置中 */
    text-decoration: none;
    color: rgba(97, 123, 175, 0.808);  
}
.more:hover{
    color: #838383;
    border: 1px solid #838383 ;
}

.about_cert h2{ /* 標題 */
    border-bottom:2px solid rgb(26,51,100,0.88);
    text-shadow: 3px 2px 1px #c2c2c2;
    padding:0px 0 10px 0;
    margin: 10px 60px 0px 310px;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    color:rgb(26,51,100,0.88); 
    display: flex;
    justify-content: flex-end;
}
.about_cert figure{
    margin:0 15px 0 25px;
    position: relative;
    box-shadow: 5px 5px 4px rgba(132, 137, 153, 0.699);
    
}
.about_cert figure p{ /*同標題背景*/
    display: block;
    background-color:rgba(24, 48, 97, 0);
    color: #ffffff00;
    padding: 0.3rem 0.9rem;
    text-decoration: none;
    text-align: center;
    width: 11.5rem;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-weight: 400;

    
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.about_cert figure:hover p{
    background-color:rgba(15, 32, 66, 0.76);
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 2rem;
    height: 100%;
    padding-top: 70px;
    
}
/* -------------------------about us區-------------------  */
/* -------------------------product區--------------- */
#product{
    background-color: #d9dce385;
    /* background-image: url(./images/product_bg1.gif); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; */
    height: 100vh; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pro_name{
    margin-top: 40px;
}
.pro_name hr{
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    width:230px;
    background-color: rgb(202, 202, 202);
    height: 5px;
    border: 0;
}
.pro_name h1{ /* 標題 */
    display: inline-block;
    margin: 0px 25px 25px;
    font-size: 2.2rem;
     color: rgba(79, 79, 80, 0.88) !important; 
    letter-spacing: 0.5rem;
}
.product_intro {
    
    width: 70%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product_intro a{
    
    width: 35%;
    margin: 10px;
}
.product_intro figure{
    
    width: 100%;
    margin: auto;
    margin: 0px px;
    overflow: hidden;
    
    
    background-color: #e3e6ec71;
    position: relative;
    border-radius: 0px;
}
.product_intro figure img{
    
    opacity: .4;
}
.product_intro figure:hover img{
    opacity: 1;
    background-color: rgb(255, 255, 255); 
}
.product_intro figure p{ /*同標題背景*/
    display: block;
    background-color:rgb(26,51,100,0.88);
    color: #ffffff;
    padding: 0.3rem 0.9rem;
    text-decoration: none;
    text-align: center;
    width: 11.5rem;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.product_intro figure:hover p{
    background-color: rgb(26,51,100,0.48);
} 
.f1{
    box-shadow: -1px -1px 8px rgba(123, 127, 134, 0.664);
}
.f2{
    box-shadow: 1px -1px 8px rgba(123, 127, 134, 0.664);
}
.f3{
    box-shadow: -1px 1px 8px rgba(123, 127, 134, 0.664);
}
.f4{
    box-shadow: 1px 1px 8px rgba(123, 127, 134, 0.664);
}
.product_intro figure .p1{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.product_intro figure .p2{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.product_intro figure .p3{
    position: absolute;
    top: 0px;
    right: 0px; 
}
.product_intro figure .p4{
    position: absolute;
    top: 0px;
    left: 0px;
}
/* -------------------------contact區--------------------- */
#contact{
    /* background-image: url(./images/contact_bg.png); */
    background-color: rgba(26, 51, 100, 0.918);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    position: relative; 
    width: 100%;
    margin: auto;
}
.con2,.con3{
    background-color: rgba(255, 255, 255, 0.707);
    height: 250px;
    border-radius: 20px;
}
#contact h1,#contact h3{
    margin-left: 15px;
    margin-top: 15px;
 }
#contact h1{ /* 標題 */
    border-bottom:5px solid rgb(184, 184, 184);
    padding-bottom: 4px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 200px;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}
#contact h3{/* 標題 */
    margin-top: 20px;
    margin-left: 21px;
    color:#4c5b79;
}
#contact div{
    margin: 50px 30px;
}
#contact P{
    font-size: 1rem;
    margin: 5px 20px 15px;
}
#contact iframe{
    border-radius: 20px;
}
/* -------------------------footert區--------------------- */
footer{
    background-color: rgba(255, 255, 255, 0.503);
    box-shadow: 0px 0px 6px #a7a7a7;
}
.footer_list{
    width: 55%;
    display: flex;
    margin: auto;
    padding:25px 0;
    justify-content: space-between; 
}
.footer_list div{
    width: 25%;
}
.footer_list h1{
    margin: 11px 0px 10px;
}
footer img{
    width: 75%;
    margin: auto;
}
.footer_policy li{
    list-style-type: none; 
    margin:3px 0;
}
.footer_policy a{
    display: block; 
    margin: auto;
    width: 8rem;
    text-align: center;
    font-size: 0.9rem ;
    font-weight: 500;
    color:#abafb8 ;
    border-left: 5px solid transparent;
    padding-left: 5px ;
}
.footer_policy a:hover{
    color:#053486c2 ;
    border-left: 5px solid #053486c2 ;
    padding-left: 5px;
}
footer nav{
    width: 75%;
    margin-top: 4px;
    display: flex;
}
footer nav ul{
    margin: 100%;
    margin: 0 5%;
}
footer nav li{
    margin:5px 0;
    list-style-type: none; 
    white-space: nowrap;
}
footer nav a{
    font-size: 1rem;
    font-weight: 500;
    color:#848992 ;
    border-left: 5px solid transparent;
    padding-left: 5px;
}
footer nav a:hover{
    color:#053486c2 ;
    border-left: 5px solid #053486c2;
    padding-left: 5px;
}
.footer_copyright{
    margin: auto;
    border-top: 1px dotted rgb(182, 182, 182);
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    color: #abafb8 ;
    padding: 15px;
    width: 60%;
}
.footer_title{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    border-bottom: 4px solid rgb(202, 202, 202);
    margin-bottom: 7px;
    margin-left: 10px;
    padding-bottom: 5px;
    width: 4.8rem;
    border-style: solid; 
}
/* ----------------------------------------------------- */

#gotop{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer; /* 游標過去手的形狀 */
    background-color: #797979bd;
    line-height: 60px;
    text-align: center;
    border-radius: 100px;
    letter-spacing: 0.1rem;
}
#gotop:hover{
    background-color: #1f1f1fbd;
}
#gotop p{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color:#fff;
}
/* -------------------------footert區--------------------- */
