@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid #000 ;  
}
img{
    width: 100%;
    display: block;
}
body{
    position: relative;
    width: 100%;
    margin: auto;
    font-family:"Noto Sans TC",Arial, Helvetica,"Heiti TC","微軟正黑","Microsoft JhengHei", sans-serif;
    font-weight: 700; 
    overflow-x: hidden;
    background-color: #ffffff;
    background-image: url(./images/product_bg.gif);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: rgb(163, 163, 163); 
}
::-webkit-scrollbar-thumb {
    background: rgba(245, 245, 245, 0.8); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(196, 196, 196, 0.8); 
}
a,p,h1,h2,h3{
    text-decoration: none;  
}
.aboutux h1,.about_cert h2,.pro_name h1,#contact h1,.footer_title{
    color: rgb(57,133, 197);
}

/* -------------------------頁首區--------------------- */
header{
    background-color: #ffffffc9;
    box-shadow: 0px 0px 6px #a7a7a7;
    position: fixed;
    top: 0; 
    width: 100%;
    display: flex; 
    align-items: center;
    height: 9vh; 
    z-index: 999;

    position: relative;
}
header h1{ 
    margin-left: 30px;
    margin-right: 20px;
    width: 280px;   
}

header h3{
    width: 70px;
    margin-right: 12px;
}
header h4{
    width: 70px;
    margin-right: 10px;
}
header h5{ 
    /* margin-right: 10px; */
    width: 4.5%;   
}
header nav{
    width: 90%;
}
header nav ul{
    list-style-type: none;
    display: flex; 
    justify-content: flex-end;
    margin-right: 10px;
}
header nav li{
    width: 100px;
}
.dropdown a{
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: dimgrey;
    transition: 0.2s ease-in;
}
.dropdown a:hover{
    color: #053486c2;
    /* padding-bottom: 2.2vh; */
    border-bottom: 4px solid #053486c2 ;
}


/* -------------------RWD------------ */
/* 手機 */
@media (max-width: 767px) {
    header{
        height: 6vh;
        box-shadow: 0px 0px 2px #a7a7a7;
    }
    header h2{
        display: none;
       /* width: 30%;
       margin-right: 10px; */
    }
    header nav{
        display: none;
        width: 20%;
    }
    header nav ul{
        
        display: flex;
        flex-direction: column;
        margin-left: 40%;
    }
    header nav a{
        font-size: 1rem;
    }
    header nav a:hover{
        color: #053486c2;
        padding-bottom: 0vh;
        border-bottom: 0px solid #053486c2 ;
    }
    header h1{ 
        margin-left: 10px;
        margin-right: 10px;
        width: 40%;   
    }
    header h3{
        width: 8%;  
        margin-right: 12px;
    }
    header h4{
        width: 8%; 
        margin-right: 10px;
    }
    header h5{ 
        display: block;
        width: 45%;
        font-size:  1.4rem ;
        color: #acacace8;
       /*  padding: 0 4px;*/
       text-align: right;
       margin-right:20px ;
        /*  border: 0px solid #333333;  */
    }
    .minnav {
        display: none;
    }
    .dropdown a:hover{
        padding-bottom: 0vh;
        border-bottom: 0px solid #053486c2 ;
    }
    .dropdown-content {
        margin-top: 0vh;
    }
}
/* 平板 */
@media (min-width: 768px) {
 
    header{
        height: 6vh;
    }
    header h2{
        width:25%;
        margin-right: 20px;
    }
    header h1{ 
        margin-left: 20px;
        margin-right: 10px;
        width: 40%;   
    }
    header h3{
        width: 8%;  
        margin-right: 12px;
    }
    header h4{
        width: 8%; 
        margin-right: 10px;
    }
    header h5{ 
        display: none;
    }
    .minnav {
        
        display: none;
    }
    .dropdown a:hover{
        padding-bottom: 1vh;
    }
    .dropdown-content {
        margin-top: 1.5vh;
    }
}
/* 桌機 */
@media (min-width: 992px) {
    header nav ul{
        display: flex;
        flex-direction: row;
    }
    header{
        height: 9vh;
    }
    header h2{
        width:12%;
        margin-right: 30px;
    }
    header h1{ 
        margin-left: 30px;
        margin-right: 20px;
        width: 18%;   
    }
    header h3{
        width: 4.5%;  
        margin-right: 12px;
    }
    header h4{
        width: 4.5%; 
        margin-right: 10px;
    }
    header h5{ 
        display: none;
        
    }
    .minnav {
        
        display: none;
    }
    .dropdown a:hover{
        padding-bottom: 2.2vh;
    }
    .dropdown-content {
        margin-top: 2.8vh;
    }
} 
/* -------------------RWD------------ */
/* --------------------------下拉選單區-------------------------- */
.dropdown{
    /* position: relative; */
}
.dropdown-content {
    display: none;
    position: absolute;
    /* margin-top: 2.8vh; */
    background-color: #ffffffc9;
    min-width: 99px;
    box-shadow: 1px 1px 5px  rgb(117, 120, 131);
    z-index: 1;
    transition: 0.4s ease-in;
}
.dropdown-content a {
    color: rgb(94, 94, 94);
    font-size: 1.1rem;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.2s ease-in;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #053486c2;
    color: #ffffff;
    border-bottom:0px solid  #ffffff00 ;  
    padding: 7px 10px 7px 10px;
}

.min_dropdown a{
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: dimgrey;
    transition: 0.2s ease-in;
}
.min_dropdown a:hover{
    color: #053486c2;
    
}
.minnav {
    position: absolute;
    width: 100%;
    display: none;
}
.minnav ul {
    display: flex ;
    list-style-type: none;
}
.minnav li{
    position: relative ;
    flex: 1 ;
    height: 5vh;
    text-decoration: none;
}
.minnav a{
    display: block;
    background-color: #ffffffc9;
    box-shadow: 0px 0px 1px #414141;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}
.min_dropdowncontent {
    display: none;
    position: absolute;
    margin-top: 1.5px;
    /* margin-top: 2.8vh; */
    min-width: 100%;
    box-shadow: 0px 0px 1px #414141;
    z-index: 1;
    transition: 0.4s ease-in;
}
.min_dropdowncontent a {
    color: rgb(94, 94, 94);
    background-color: #ffffffc9;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 0.2s ease-in;
}
.min_dropdown:hover .min_dropdowncontent{
    display: block;
}
.min_dropdowncontent a:hover {
    background-color: #053486c2;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
}
/* -------------------------footert區--------------------- */
footer{
    background-color: rgba(255, 255, 255, 0.503);
    box-shadow: 0px 0px 6px #a7a7a7;
}
.footer_list{
    width: 55%;
    display: flex;
    margin: auto;
    padding:25px 0;
    justify-content: space-between; 
}
.footer_list div{
    width: 25%;
}
.footer_list h1{
    margin: 11px 0px 10px;
}
footer img{
    width: 75%;
    margin: auto;
}
.footer_policy li{
    list-style-type: none; 
    margin:3px 0;
}
.footer_policy a{
    display: block; 
    margin: auto;
    width: 8rem;
    text-align: center;
    font-size: 0.9rem ;
    font-weight: 500;
    color:#abafb8 ;
    border-left: 5px solid transparent;
    padding-left: 5px ;
    transition: 0.4s ease;
}
.footer_policy a:hover{
    color:#053486c2 ;
    border-left: 5px solid #053486c2 ;
    padding-left: 5px;
}
footer nav{
    width: 75%;
    margin-top: 4px;
    display: flex;
}
footer nav ul{
    margin: 100%;
    margin: 0 5%;
}
footer nav li{
    margin:5px 0;
    list-style-type: none; 
    white-space: nowrap;
}
footer nav a{
    font-size: 1rem;
    font-weight: 500;
    color:#848992 ;
    border-left: 5px solid transparent;
    padding-left: 5px;
    transition: 0.4s ease;
}
footer nav a:hover{
    color:#053486c2 ;
    border-left: 5px solid #053486c2;
    padding-left: 5px;
   
}
.footer_copyright{
    margin: auto;
    border-top: 1px dotted rgb(182, 182, 182);
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    color: #abafb8 ;
    padding: 15px;
    width: 60%;
}
.footer_title{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    border-bottom: 4px solid rgb(202, 202, 202);
    margin-bottom: 7px;
    margin-left: 10px;
    padding-bottom: 5px;
    width: 4.8rem;
    border-style: solid; 
}
/* -------------------RWD------------ */
/* 手機 */
@media (max-width: 767px) {
    .footer_list div{
        width: 40%;
    }
    .footer_list{
        width: 80%;
    }
    footer img{
        width: 100%;
    }
    footer nav{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    .footer_policy a{
        font-size: 0.9rem;
        padding-left: 0px;
        text-align: left;
    }
    .footer_copyright{
        font-weight: 100;
        font-size: 0.9rem;
        width: 100%;
    }
    #gotop{
        bottom: 20px;
        right: 20px;
    }
}
/* 平板 */
@media (min-width: 768px) {
    .footer_list{
        width: 60%;
    }
    .footer_list div{
        width: 60%;
    }
    footer nav{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
    }
    footer img{
        width: 100%;
    }
    #gotop{
        bottom: 50px;
        right: 50px;
    }
    
}
/* 桌機 */
@media (min-width: 992px) {
    .footer_list{
        width: 55%;
    }
    .footer_list div{
        width: 40%;
    }
    footer nav{
        display: flex;
        flex-direction: row;
        margin-left: 0%;
    }
    footer img{
        width: 75%;
    }
    #gotop{
        bottom: 50px;
        right: 50px;
    }
} 
/* -------------------RWD------------ */
/* ----------------------------------------------------- */
/* --------------------內頁區------------- */
.product{
    /* width: 60%; */
    /* margin:12vh auto; */
}
.product h1{
    text-align: center;    
    color: #236cbe;
    /* font-size: 2rem; */
    /* border-bottom: 1px dotted #333333; */
    padding-bottom: 5px;
    /* margin: 0 90px;  */
}
.product div{
    background-color: #ffffffa1;
    margin: 20px auto;
    /* border:1px solid rgb(83, 83, 83); */
    /* padding: 40px 80px ; */
    box-shadow: 0px 0px 3px #7a7a7a;
    border-radius: 20px;
}
.product h2{
    text-align: center;    
    color: #236cbe; 
    border-bottom: 1px dotted #333333;   
    /* margin: 10px 90px 0px; */
    padding-bottom: 20px;  
}
.product h3{
    text-align: left;    
    color: #6e96c4; 
    padding-bottom: 10px;  
    letter-spacing: 0.1rem;
}
.product  p{
    color: #474747;
    /* margin: 10px 120px; */
    line-height: 1.9rem;
    text-align: justify;
    text-align: center;
}
.product img{
    margin: 25px auto;
    width: 80%;
}
/* -------------------RWD------------ */
/* 手機 */
@media (max-width: 767px) {
    .product{
     width: 90%;
     margin:6vh auto;
    }
    .product  p{
     margin: 10px 40px;
    }
    .product div{
     padding: 50px 15px ;
    }
    .product h1{
        margin: 0 50px; 
        font-size: 1.6rem;
    }
    .product h2{
        margin: 10px 5px 0px;
        font-size: 1.3rem;
    }
    .product img{
        width: 95%;
    }
 }
 /* 平板 */
 @media (min-width: 768px) {
     .product{
         width: 90%;
         margin:6vh auto;
        }
     .product  p{
         margin: 10px 40px;
     }
     .product div{
         padding: 50px 70px ;
     }
     .product h1{
        margin: 0 90px; 
        font-size: 2rem;
    }
    .product h2{
        margin: 10px 80px 0px;
    }
     
     
 }
 /* 桌機 */
 @media (min-width: 992px) {
     .product{
         width: 60%;
         margin:12vh auto;
        }
     .product  p{
         margin: 10px 120px;
     }
     .product div{
         padding: 40px 80px ;
     }
     .product h1{
        margin: 0 90px; 
        font-size: 2rem;
    }
    .product h2{
        margin: 10px 90px 0px;
    }
     
 } 
/* -------------------RWD------------ */
/* --------------------------------------- */
.pro_des{
    box-shadow: 0px 0px 3px #bebebe00 !important;
    border-radius: 0px !important;
    display: flex;
    
    text-align: left;
    border-top: 1px dotted rgb(170, 170, 170);
    margin: 0px 10px !important; 
    margin: auto!important;
    width: 100%;
}
.pro_des ul{
     /* border: 1px solid #000;  */
    box-shadow: 2px 2px 6px #a0a0a0;
    margin: 0px 20px;
    width: 600px;
    padding: 10px 20px;
}
.pro_des li{
   /*  border: 1px solid #000; */
    list-style-type: none;
    margin: 2px 0px;
    color: #747474;
}
.product_04img img{
    display: block!important;
    width: 90%!important;
}
.product div .newsvideo{
    text-align: center;
    box-shadow: 0px 0px 0px #ffffff !important;
    margin: 0 !important;
    padding: 0 !important ;
}
/* ---------------------------------- */
.product03 p{
 text-align: left;

}
.product03 h3{
        /* margin: 10px 120px; */
        text-align: left;    
        color: #6e96c4; 
        padding-bottom: 10px;  
        letter-spacing: 0.1rem;
}
.product03 img{
    width: 90%;
}
/* -------------------RWD------------ */
/* 手機 */
@media (max-width: 767px) {

    .newsvideo{
        height: 20vh;
    }
    .video2{
        height: 90%;
        width: auto;  /* 自動偵測寬度  他吃到上面的寬度90% */
        object-fit: contain;   /* 內容一定會出現 */
    }
    .pro_des ul{
        /* border: 1px solid #000;  */
       box-shadow: 2px 2px 6px #a0a0a0;
       margin: 0px 5px;
       width: 650px;
       padding: 10px 5px;
   }
   .product03 h3{
    margin: 10px 30px;
    font-size: 1rem;
   }
   .product03 img{
    width: 100%;
    }
    .product_04img img{
        width: 100%!important;
    }
 }
 /* 平板 */
 @media (min-width: 768px) {
    .newsvideo{
        height: 30vh;
    }
    .video2{
        height: 90%;
        width: auto;  /* 自動偵測寬度  他吃到上面的寬度90% */
        object-fit: contain;   /* 內容一定會出現 */
    }
    .product03 h3{
        margin: 10px 40px;
    }
     
 }
 /* 桌機 */
 @media (min-width: 992px) {
    .newsvideo{
        height: 45vh;
    }
    .video2{
        height: 90%;
        width: auto;  /* 自動偵測寬度  他吃到上面的寬度90% */
        object-fit: contain;   /* 內容一定會出現 */
    }
    .product03 h3{
        margin: 10px 120px;
    }
 } 
/* -------------------RWD------------ */
